<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./_headerImports.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include("./_navbar.ejs")%>
    <% if(!journeys.length > 0) { %>
    <div class="alert alert-danger text-center" role="alert">
      <h3>No ticket in the Cart</h3>
    </div>
    <% }else{ %>
    <h2 class="text-center text-white"> My tickets  </h2>
    <div class="container">
        <table class="table bg-white table-striped table-hover">
            <thead>
              
              <tr>
                <th scope="col">Journey</th>
                <th scope="col">Date</th>
                <th scope="col">Depature Time</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% journeys.forEach(function(journey){ %>
              <tr>
                <th><%= journey.departure %> / <%= journey.arrival %></th>
                <th><%= journey.date %></th>
                <th><%= journey.departureTime %></th>
                <th><%= (journey.price).toFixed(2) %> €</th>
              </tr>
              <% }) %>
              <tr class="list-group-item-danger">
                <td colspan="3"><strong>Total</stro></td>
                <td><strong>218 €</strong></td>
              </tr>
            </tbody>
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm</button>
          </div>
          <% } %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmer votre réservation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <% 
              let total = 0;
              journeys.forEach(function(journey){ 
              %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p><%= journey.departure %> / <%= journey.arrival %></p>
                  <p><%= journey.date %></p>
                  <p><%= journey.departureTime %></p>
                </li>
              <% 
                total+= journey.price
                }) 
              %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>Total a payer</strong>
                <span class="badge bg-success rounded-pill"><%= total.toFixed(2)%> €</span>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
            <a  href="/validate-cart" class="btn btn-primary">Procced to paiement</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      const myModal = document.getElementById('myModal')
      const myInput = document.getElementById('myInput')

      myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
      })
    </script>
    <%- include('./_jsImports.ejs') %>
</body>
</html>