<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <%- include("./_navbar.ejs")%>
    <h2 class="text-center text-white"> My tickets  </h2>
    <div class="container">

      <% if(=user.journeys.length < 1) {%>
        <h5 class="no-article">No ticket in the Cart</h5>
    
    <%} else {%>
        <table class="table bg-white table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Journey</th>
                <th scope="col">Date</th>
                <th scope="col">Depature Time</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var totalCmd = 0;
              for(var i=0;i<user.journeys.length;i++){ %>
              <tr>
                <th><%=i%></th>
                <th ><%=user.journeys[i].departure%>/<%=user.journeys[i].arrival%></th>
                <th><%=user.journeys[i].date%></th>
                <th><%=user.journeys[i].departureTime%> pm</th>
                <th><%=user.journeys[i].price%> €</th>
              </tr>
              <%
                 totalCmd += user.journeys[i].price;
                 // or totalCmd = user.journeys[i].price + totalCmd;
                  }
                  %>
            </tbody>
          </table>
    </div>
    <div class="col-12 offset-9"> 
    <button type="submit" class="btn btn-danger mt-3">Confirm</button>
</div>
<%}%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>