<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./_headerImports.ejs') %>
    <title>My last trips</title>
</head>
<body>
    <%- include('./_navbar.ejs') %>
    <h2 class="text-white text-center"> My last trips </h2><hr>
    <div class="container">
        <table class="table bg-white table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Journey</th>
                <th scope="col">Departure time</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% journeys.forEach(function(journey){ %>
              <tr>
                <td><%= journey.date %></td>
                <td><%= journey.departure %> / <%= journey.arrival %></td>
                <td><%= journey.departureTime %></td>
                <td><%= (journey.price).toFixed(2) %> Euros</td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/" class="btn btn-danger me-md-2">Home</a>
          </div>
    </div>
    <%- include('./_jsImports.ejs') %>
</body>
</html>