<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <%- include('./_headerImports.ejs') %>
    <title>Profile</title>
  </head>
  <body>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-2 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"><%= user.name %></span><span class="text-black-50"><%= user.email %></span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="name" value="<%= user.name %>" disabled></div>
                        <div class="col-md-6"><label class="labels">Firstname</label><input type="text" class="form-control" value="<%= user.firstname %>" placeholder="firstname" disabled></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">E-mail</label><input type="text" class="form-control" placeholder="email" value="<%= user.email %>" disabled></div>
                        <div class="col-md-12"><label class="labels">Password</label><input type="text" class="form-control" placeholder="password" value=""></div>
                        <div class="col-md-12"><label class="labels">Repeat your password</label><input type="text" class="form-control" placeholder="confirm your password here" value=""></div>
                    </div>
                    <div class="mt-5 text-center"><a class="btn btn-primary profile-button" href="/">Save Profile</a></div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>My last trips </span></div><br>
                    <ul class="list-group">
                        <% for(var i=0;i<journeys.length;i++){ %>
                        <li class="list-group-item d-flex justify-content-between align-items-center mt-3 p-3 rounded-1">
                            <span><%=journeys[i].departure%> /<%=journeys[i].arrival%> </span>
                            <span>Train departure at: <%=journeys[i].departureTime%></span>
                            <div class="d-flex justify-content-between align-items-center">
                                <strong><%=(journeys[i].price).toFixed(2)%> €</strong>&nbsp;&nbsp;
                            </div>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
